import /tee.rc
import /trustonic.rc
on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    chmod 0777 /system/bin/modelchange.sh
    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice

on fs
    install_keyring

    write /sys/class/power_supply/usb/otg_switch 1
    write /sys/class/oplus_chg/usb/otg_switch 1

on post-fs

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0
    

service modelchange /system/bin/modelchange.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
    

service set_permissive /system/bin/set_permissive.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

    

on property:hwservicemanager.ready=true
    start hal_cryptoeng_oplus
    start keymaster-4-1
    start gatekeeperd
    start gatekeeper-1-0
    start keymaster_attestation-1-1

on property:enable.fbe.service=0
    stop hal_cryptoeng_oppo
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-4-0
    stop gatekeeperd
    stop vendor.gatekeeper-1-0
    

on property:ro.crypto.state=unsupported
    stop hal_cryptoeng_oppo
    stop mobicore
    stop keymaster-4-1
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop hal_cryptoeng_oppo
    stop mobicore
    stop keymaster-4-1
    stop gatekeeper-1-0

service hal_cryptoeng_oplus /system/bin/vendor.oplus.hardware.cryptoeng@1.0-service
    user root
    group root input sdcard_rw sdcard_r
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-1 /system/bin/android.hardware.keymaster@4.1-service.trustonic
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeperd /system/bin/gatekeeperd /data/misc/gatekeeperd
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /system/bin/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    #interface vendor.mediatek.hardware.keymaster_attestation@1.0::IKeymasterDevice default
    #interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0    
    

on property:twrp.decrypt.done=true
    stop hal_cryptoeng_oppo
    stop mobicore
    stop keymaster-4-1
    stop gatekeeper-1-0

    start boot-hal-1-2
    start set_permissive
    start modelchange
    

on post-fs-data
    mkdir /data/vendor_de 0770 system system
    mkdir /data/vendor_de/0 0770 system system
    mkdir /data/vendor_de/0/cryptoeng 0770 system system

on boot
    start health-hal-2-1